body {
    font-size: 28px;
    background-color: #424549
  }
  
  h2 {
    color: #FFF;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin-left: -10;
    overflow: hidden;
    background-color: #36393e;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 99.2vw;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: #7289da;
  }
  
  .container {
    padding-top: 30px;
    width: 90vw;
    height: 40vh;
    background-color: #424549;
    font-size: 50px;
    color: #FFF;
    text-align: center;
  }